<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>单个文件</h1>
<form action="/uploadfile/" method="post" enctype="multipart/form-data">
    <input type="file" name="file">
<!--    <input type="file" name="files">-->
    <input type="text" name="info">
    <input type="submit">
</form>

<h1>多份个文件</h1>
<form action="/files/" method="post" enctype="multipart/form-data">
    <input type="file" name="files_list" multiple>   {# multiple参数支持一次性传多个文件 #}
<!--    <input type="file" name="files_obj_list" multiple>-->
    <input type="submit">
</form>
</body>
</html>
